body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #081831;
  overflow-x: hidden;
}

.logo{
width: 12%;
margin: 45px 0 0 45px;
opacity: 0.9;
display: inline-block;
position: fixed;
  /* 8bbae4, fd7500 */
}
 .menu{
  position: relative;
  left: 800px;
}

.label1 .menu {
  position: absolute;
  right: -350px;
  top: -80px;
  z-index: 100;
  width: 320px;
  height: 330px;
  background: #134067;
  border-radius: 100% 0% 0% 100%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #134067, 0 0 0 0 #134067;
  cursor: pointer;

}

.label1 .hamburger {
  position: absolute;
  top: 190px;
  left: 145px;
  width: 75px;
  height: 6px;
  background: white;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
}

.label1 .hamburger:after, .label1 .hamburger:before {
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

.label1 .hamburger:before { top: -25px; }

.label1 .hamburger:after { bottom: -25px; }

.label1 .hide { display: none; }

.label1 .hide:checked + .menu {
  box-shadow: 0 0 0 100vw #081831, 0 0 0 100vh #081831;
  border-radius: 0;
  background: #081831;
}

.label1 .hide:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.label1 .hide:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

.label1 .hide:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

.label1 .hide:checked + .menu + .ul { opacity: 1; }

.label1 .ul {
  z-index: 200;
  transform: translate(-100%, 100%);
  margin-top: 0px;
  opacity: 0;
  transition: .25s 0s ease-in-out;
  display: flex;
  flex-direction: column;
}
