body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #081831;
  overflow-x: hidden;
}

.logo{
width: 12%;
margin: 50px 0 0 50px;
opacity: 0.9;
display: inline-block;
position: fixed;
  /* 8bbae4, fd7500 */
}

.label1 .menu {
  position: absolute;
  right: -10px;
  top: -80px;
  z-index: 100;
  width: 310px;
  height: 330px;
  background: #134067;
  border-radius: 100% 0% 0% 100%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #134067, 0 0 0 0 #134067;
  cursor: pointer;

}

.label1 .hamburger {
  position: absolute;
  top: 190px;
  left: 145px;
  width: 75px;
  height: 6px;
  background: white;
  display: block;
  transform-origin: center;
  transition: .5s ease-in-out;
}

.label1 .hamburger:after, .label1 .hamburger:before {
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

.label1 .hamburger:before { top: -25px; }

.label1 .hamburger:after { bottom: -25px; }

.label1 .hide { display: none; }

.label1 .hide:checked + .menu {
  box-shadow: 0 0 0 100vw #081831, 0 0 0 100vh #081831;
  border-radius: 0;
  background: #081831;
}

.label1 .hide:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.label1 .hide:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

.label1 .hide:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.label1 .hide:checked + .menu + .ul { opacity: 1; }

.label1 .ul {
  z-index: 200;
  transform: translate(108%, 46%);
  opacity: 0;
  transition: .25s 0s ease-in-out;
  display: flex;
  flex-direction: column;
}


 .ul{
  display: flex;
   position: fixed;
 }
.navv{
  list-style: none;
  /* margin-top: 50px; */
}
.navv a{
  line-height: 100px;
font-size: 75px;
color: white;
font-family: 'Montserrat';
text-decoration:underline;
text-decoration-color: #8bbae4;
text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
text-underline-position:under;
}

.navv a:hover{
font-size: 74.9px;
text-decoration-color: #fd7500;
text-underline-offset: 0.29em;
}




#container{

display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
margin:0 0 0 60px;

}
.text1{
  display: block;
  padding:0 0 0 20px;
  font-family: 'poppins';
  /* font-size: 64px; */
  margin:0;
}

#hi{
  color:#fd7500;
  position: relative;
  top: 55px;
  font-size: 40px;
}
#name{
  color: rgb(204,214,246);
  font-size: 5rem;
  margin: 0;
position: relative;
top: 25px;
}
#info{
  color: rgb(136, 146, 176);
  font-size: 4rem;
margin: 0;
font-weight: bold;
}
#detail-info{
  font-size: 3rem;
  color: rgb(136, 146, 176);
padding:30px 60px 0 0;
}
.ml-3{
position: relative;
top: 8px;
  transition: all 0.5s ease;

}

.button-77:hover > .ml-3{
  transform: rotateZ(90deg);
}
.button-77 {
  margin:70px 0 0 0;
  /* align-items: center; */
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 50px;
  /* font-weight: lighter; */
  /* justify-content: center; */
  /* text-align: center; */
  border: 5px solid white;
  border-radius: 1px;
padding:25px 15px;
width: 50%;
position: relative;
}
.button-77:hover{
  background:#fd7500;
  border-style: none;
}
